@import 'button';

.loginContainer {
    #basic{
        width: 340px;
        padding: 20px 20px 10px 20px; 
        background-color: rgba(0,0,0,0.2);
        border-radius: 16px;
        .welcomeText{
            font-size: 16px;
            color: #fff;
            text-align: left;
        }
        .loginAndRegister{
            margin-top: 20px;
            background-color: #fff;
            border-radius: 8px;
            height: 48px;
            button{
                width: 50%;
                height: 100%;
            }
            .activebutton{
                color:#0013D4;
                font-weight: 700;
                position:relative;
                .activeLine{
                    position: absolute;
                    bottom: -1px;
                    height: 2px;
                    background: linear-gradient(90deg, #0013D4 0%, #00F9B8 100%);
                    border-radius: 8px 8px 0px 0px;
                    left: 24px;
                    right: 24px;
                }
            }
        }
        .inputs{
            margin-top: 20px;
            .ant-input-affix-wrapper{
                border-radius: 8px;
                padding:  0px 5px 0px 10px !important;
            }
            input{
                height: 48px !important;
                max-height: 48px !important;
                border-radius: 8px !important;
            }
            .otpNumber{
                display: flex;
                width: 100%;
                justify-content: center;
                input{
                    width: 42px !important;
                    height: 58px !important;
                    max-height: 58px !important;
                    font-size: 28px;
                }
            }
        }
        .getAgainCode{
            text-align: right;
            .getAgainCodeCountDown{
                color:#fff;
                margin-right: 12px;
            }
            .getAgainCodeButton{
                margin-left: 12px;
                display: inline-flex;
                justify-content: center;
                align-items: center;

            }
        }
        .forgotPassword{
            text-align: right;
            margin-top: 24px;   
            button{
                height: 20px;
                position: static;
                font-weight: bold;
                color: #fff;
                font-size: 14px;
                line-height: 20px;
                padding-top: 3px;
            }
        }
        .loginBtn{
            margin-top: 24px;
            // width: 100%;
            // // background-color: #DEE2E9;
            // background:linear-gradient(90deg, #0013D4 0%, #00F9B8 100%);
            // border-radius: 8px;
            // height: 48px;
            // span{
            //     // color:#7D8FC0;
            //     color:white;
            //     font-weight: bold;
            //     font-size: 18px;
            //     line-height: 24px;
            //     letter-spacing: 0.15px;
            // }
        }
    }

}